In [96]:
import pandas as pd
import numpy as np
import fnmatch 
import os

In [ ]:
# https://realpython.com/working-with-files-in-python/

In [108]:

fn = list()

for filename in os.listdir("Dataset"):
    if fnmatch.fnmatch(filename,'*.csv'):
        fn.append("Dataset\\" + filename)
fn

['Dataset\\health_ineq_online_table_4.csv', 'Dataset\\mrc_table4.csv']

In [110]:
pd.read_csv(fn[1])

,super_opeid,name,type,tier,tier_name,iclevel,region,state,cz,czname,...,kq3_cond_parq5_age28,kq4_cond_parq5_age28,kq5_cond_parq5_age28,ktop1pc_cond_parq1_age28,ktop1pc_cond_parq2_age28,ktop1pc_cond_parq3_age28,ktop1pc_cond_parq4_age28,ktop1pc_cond_parq5_age28,shareimputed_age28,imputed_age28
0,30955,ASA Institute Of Business & Computer Technology,3.0,11,Two-year for-profit,2.0,1.0,NY,19400.0,New York,...,0.058658,0.213181,0.069291,0.000000,0.000000,0.000000,0.000000,0.010728,0.000000,0.000000
1,3537,Abilene Christian University,2.0,6,Selective private,1.0,3.0,TX,32501.0,Abilene,...,0.136146,0.239555,0.362779,0.031908,0.015530,0.016319,0.014470,0.041981,0.000000,0.000000
2,1541,Abraham Baldwin Agricultural College,1.0,7,Nonselective four-year public,1.0,3.0,GA,8503.0,Valdosta,...,0.185501,0.290488,0.239236,0.005048,0.006120,0.001834,0.004001,0.009598,0.000000,0.000000
3,7531,Academy Of Art University,3.0,10,Four-year for-profit,1.0,4.0,CA,37800.0,San Francisco,...,0.182764,0.142108,0.246141,0.010290,0.008177,0.003144,0.005996,0.025131,0.000000,0.000000
4,1345,Adams State University,1.0,5,Selective public,1.0,4.0,CO,34805.0,Alamosa,...,0.240407,0.232917,0.288042,0.000041,0.000000,0.005716,0.002835,0.014093,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2461,42,Yuba Community College District,1.0,9,Two-year (public and private not-for-profit),2.0,4.0,CA,37300.0,Chico,...,0.187399,0.231026,0.252407,0.000006,0.001655,0.001708,0.002592,0.008188,0.000000,0.000000
2462,8133,Zane State College,1.0,9,Two-year (public and private not-for-profit),2.0,2.0,OH,15400.0,Zanesville,...,0.282140,0.187347,0.201584,0.000000,0.003594,0.000000,0.001227,0.009902,0.000000,0.000000
2463,-99,Late College Goers,NaN,14,Not in college between the ages of 19-22,NaN,NaN,NaN,NaN,NaN,...,0.200660,0.191821,0.184760,0.000650,0.000898,0.001369,0.002306,0.006697,0.000000,0.000000
2464,-9,Never Attended College (up to year 2013),NaN,14,Not in college between the ages of 19-22,NaN,NaN,NaN,NaN,NaN,...,0.172074,0.166894,0.149636,0.000608,0.000726,0.001132,0.001729,0.005249,0.000000,0.000000
2465,-1,Colleges with insufficient data,NaN,13,Attending college with insufficient data,NaN,NaN,NaN,NaN,NaN,...,0.211257,0.206292,0.202748,0.000709,0.001068,0.001693,0.003495,0.010106,0.008522,0.011697